/* We do not use SASS features here to make it easier to include this file without pre-compilation in _dev/test-syntax-highlight.html */

.lang-odin .hljs-keyword { color: #ff7b72; }
.lang-odin .hljs-literal { color: #79c0ff; }
.lang-odin .hljs-comment { color: #8b949e; }
.lang-odin .hljs-built_in, .hljs-type { color: #ffa657; }
.lang-odin .hljs-tag { }
.lang-odin .hljs-meta { }

.lang-odin .hljs-double_quote_string, .lang-odin .hljs-multiline_string {
  color: #a5d6ff;
}
.lang-odin .hljs-string_var_placeholder, .lang-odin .hljs-string_escape_sequence {
  background-color: #182028;
}


.lang-odin.hljs {
  /* Disable max-height as to avoid vertical scrollbar; always show code blocks in full. */
  max-height: none;

  /* Enable word wrapping in odin code as to avoid horizontal scrollbar.  */
  overflow-x: auto;
  white-space: pre-wrap;

  /* Fit more code horizontally into code blocks. */
  font-size: 0.8rem;
}